/* BELOW 1344px (smaller desktops) */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/* BELOW 1200px (landscape tablets) */

@media (max-width: 75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* BELOW 944px (tablets) */

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 50% */
    font-size: 50%;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-img-section {
    text-align: center;
    order: -1;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 2rem 2rem 2rem;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    background-position: center;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .main-nav {
    display: none;
  }

  header a {
    z-index: 2;
  }

  .btn-mobile-nav {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
  }

  .btn-mobile-nav:focus:not(:focus-visible) {
    box-shadow: none;
  }

  .mobile-main-nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fdf2e9;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .mobile-main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .mobile-main-nav-link:link,
  .mobile-main-nav-link:visited {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 3.2rem;
    transition: all 0.3s;
  }

  .mobile-main-nav-link:hover,
  .mobile-main-nav-link:active {
    color: #cf711f;
  }

  .mobile-main-nav-link.nav-cta:link,
  .mobile-main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    color: #fff;
  }

  .mobile-main-nav-link.nav-cta:hover,
  .mobile-main-nav-link.nav-cta:active {
    background-color: #cf711f;
  }
}

/* BELOW 656px */

@media (max-width: 41em) {
  html {
    /* 7px / 16px = 43.75% */
    font-size: 43.75%;
  }

  .logos img {
    height: 1.8rem;
  }

  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 6.4rem;
  }

  .reverse {
    order: 1;
  }

  .step-img {
    width: 23%;
  }

  .step-img-box::before {
    width: 50%;
    padding-bottom: 50%;
    background-color: #fdf2e9;
    z-index: -2;
  }

  .step-img-box::after {
    width: 35%;
    padding-bottom: 35%;
    background-color: #fae5d3;
    z-index: -1;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.4rem;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan.complete::after {
    top: 8%;
    right: -11%;
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.4rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 6rem;
  }
}

/* BELOW 416px (phones) */
@media (max-width: 26em) {
  .hero {
    padding: 0 5rem;
  }

  .logos {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .logos img {
    height: 1.5rem;
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .meal-content {
    justify-self: center;
  }

  .pricing-plan.complete::after {
    top: 6%;
    right: -18%;
  }
}
